<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://13.232.163.233</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://13.232.163.233</MSDeployServiceURL>
    <DeployIisAppPath>webapp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>Administrator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="TeleMedDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccess.TeleMedDBEntities, DataAccess" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Identity.Membership.ApplicationDbContext, Identity.Membership" MigrationConfiguration="Identity.Membership.Migrations.Configuration, Identity.Membership" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ConnectionString" Order="3" Enabled="False">
          <Destination Path="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;User Id=rootuser;Password=Pushparaj!997;persist security info=False;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)TeleMedDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/TeleMedDBModel.csdl|res://*/TeleMedDBModel.ssdl|res://*/TeleMedDBModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=docterisair2.c8ekzo1qvn3u.ap-south-1.rds.amazonaws.com;Initial Catalog=TeleMed;Persist Security Info=False;User ID=rootuser;Password=Pushparaj!997"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>